.header{
    background-color: #3166b4;
    height: 100px;
    display: flex; 
    align-items: center;
}

.header-title{
    margin-left: 1em;
    font-size: 1.5em;
    color: white;
    width: 30%;
    flex: 2;
}
.menu{
    margin-right:180px;
    display: flex;
    justify-content: center;
    flex: 10;
}

.menu-list{
    padding:10px;
    margin-bottom: 20px;
    list-style-type: none;
    font-size: 0.8rem;
}

.menu-link{
    /* display: block; */
    /* flex-direction: row; */
    align-items: center;
    text-decoration: none;
    color: white;
}

.main{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid black;
}

.card-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    width: 30vw;
    height: 340px;
    border: 1px dashed black;
    border-radius: 5px;
    /* line-height: 0.1rem; */
}

.content{
    width: 95vw;
    height: 200px;
    background-color: rgb(141, 211, 36);
    margin: 20px 0px 10px 0px;
    padding: 8px;
}

h4{
    display: flex;
    align-items: center;
    margin: 0;
    margin-left : 10px;
    
}

img{
    width: 45px;
    height: 45px;
}
.item-title{
    margin: 0 20px;
    font-weight: bold;
    /* font-size: 0.8rem; */
}
.item-content{
    margin:0 0 0 40px;
    /* font-size: 0.8rem; */
}

.footer{
    width: 100vw;
    background-color: #6e6a6ab6;
    color: honeydew;
    padding: 30px;
    display: flex;
    justify-content: center;

}


